body {
  color: #00f;
}
h1 {
  font-size: 12px;
}
p {
  font-size: 20px;
}
body {
  font: 14px, sans-serif;
}
body {
  padding: add(10px, 500);
}
button {
  -webkit-border-radius: 1px 2px/3px 4px;
  border-radius: 1px 2px/3px 4px;
}
